
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&display=swap');
body {
  font-family: "Montserrat", sans-serif;
  color: #252525 !important;
  font-size: 15px;
}
.bg-azul{
  background-color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Montserrat', sans-serif;}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  line-height: 2;
}


.button-container{
display:inline-block;
position:relative;
}
.titulo-home h3 > span{
  text-transform: uppercase;
  font-weight: 900;
  color: #00a9dc;
  font-style: italic  ;
}

.titulo-home h3 {
  font-weight: Bold 900 italic;
  font-weight: 900;
  font-style: italic  ;

}

.button-container a{
position: absolute;
bottom:1em;
left:1em;
background-color:#00a9dc;
border-radius:1.5em;
color:white;
text-transform:uppercase;
padding:1em 1.2em;
}

.button-container a:hover{
background-color:#ffffff;
border-radius:1.5em;
color:#00a9dc;
position: relative;

}

.banner-boton:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.603);
  transition: all 0.2s;

}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

.vertical-content {
  display: -moz-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
}

.bg-overlay {
  background-color: rgba(36, 42, 53, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bg-gradient {
  background: linear-gradient(to right, #0657d1, #00a9dc);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
/* TABLA */

table{
background-color: #3FA3C2;

}

thead{
  background-color: #D1CFCF;
  text-transform:uppercase;
}
.color-cabecera{
  background-color: #FFFFFF;
}
.color-cabecera span{
  color: #3FA3C2;
}

tbody{
  color: #FFFFFF;
  text-align: center;
  padding: auto;

}

th{
  font-style:italic;
  text-align: center;
  font-size: 1.2em;

}

tr td span{
  font-size: 12px;
}
.oferta-colun{
  font-weight:bold;
}
hr {
  border-top: 1px solid #f0f0f0;
}

caption {
  text-align: center;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.line-height_1_4 {
  line-height: 1.4;
}

.line-height_1_6 {
  line-height: 1.6;
}

.line-height_1_8 {
  line-height: 1.8;
}

.title-heading h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;

}

.title-heading p {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 26px;
}

.title-border {
  background-color: #00a9dc;
  height: 2px;
  width: 30px;
  margin: 0 auto;
  margin-top: 30px;
  transform: rotate(90deg);
}

.bg-custom {
  background-color: #00a9dc;
}

.bg-light {
  background-color: #00a9dc11 !important;
}

.text-custom {
  color: #00a9dc;
}

.text-muted {
  color: #868e96 !important;
}

.btn {
  padding: 12px 34px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.btn:focus {
  box-shadow: none;
}

.btn-sm {
  padding: 7px 14px;
  font-size: 12px;
}

.btn-round {
  border-radius: 3px !important;
}

.btn-rounded {
  border-radius: 30px !important;
}

.btn-custom {
  color: #ffffff;
  border-radius: 0px;
  background-color: #00a9dc;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.open > .dropdown-toggle .btn-custom {
  color: #00a9dc;
  background-color: #ffffff;
  border: #00a9dc;
}

.btn-outline {
  color: #00a9dc;
  border: 1px solid #00a9dc;
  border-radius:1.1em;
  text-transform:uppercase;
  padding:1em 1.1em;
  margin: 0.1em;
  cursor: pointer;
}
.btn-ver-mas {
  color: #00a9dc;
  border:none;
  border-radius:1.1em;
  text-transform:uppercase;
  padding:1em 1.1em;
  margin: 0.1em;
}

.services-btn i {
  font-size: 18px;
  color: #00a9dc;
  margin-right: 5px;
}



.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active,
.btn-outline.focus,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover,
.open > .dropdown-toggle .btn-outline  {
  outline: none;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #00a9dc;
}

.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .navbar-nav li a {
  line-height: 26px;
  color: #ffffff;
  font-size: 15px;
  text-transform: capitalize;
  transition: all 0.5s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 10px;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #252525;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
  color: #00a9dc !important;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  color: #ffffff;
  outline: 0;
}

.navbar-custom .navbar-toggles-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

.navbar-button {
  margin-left: 20px;
}

.logo .logo-light {
  display: inline-block;
}

.logo .logo-dark {
  display: none;
}

.nav-sticky .logo .logo-dark {
  display: inline-block;
}

.nav-sticky .logo .logo-light {
  display: none;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 20px 0px;
  background-color: #ffffff;
  box-shadow: 0 10px 33px rgba(140, 140, 140, 0.1);
}

.nav-sticky.navbar-custom.sticky-dark {
  background-color: #ffffff;
}

.nav-sticky .logo {
  color: #252525 !important;
}

.nav-sticky .navbar-nav li a {
  color: #868e96 !important;
}

.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
  color: #00a9dc !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky .navbar-nav {
  margin-top: 0px;
}

.bg-home {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-title {
  font-size: 60px;
  color: #ffffff;
  max-width: 999px;
  margin: 0 auto;
  font-weight:  900;
  text-transform: uppercase ;
  font-style:  italic ;

}

.home-box p {
  color: rgba(255, 255, 255, 0.7);
}

.play-icon-circle {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  font-size: 26px;
  position: relative;
  top: 6px;
}

.home-contact span {
  font-weight: 500;
  color: #ffffff;
}

.mouse_down {
  position: relative;
  top: -70px;
}

.scroll {
  position: relative;
}

.home-desc-2 {
  max-width: 650px;
  margin: 0 auto;
}

.home-half {
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 250px 0px 230px 0px !important;
}

.bg-home-3 {
  background-image: url(../images/bg-3.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 300px 0px 280px 0px !important;
}

.bg-home-4 {
  background-image: url(../images/bg-4.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
}

.search-form input {
  padding: 15px 20px;
  width: 100%;
  font-size: 17px;
  color: #868e96 !important;
  border: none;
  outline: none !important;
  padding-right: 160px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
}

.search-form button {
  position: absolute;
  top: 5px;
  right: 6px;
  outline: none !important;
  border-radius: 30px;
  font-size: 17px;
  padding: 9px 30px;
}

.search-form form {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.bg-home-video {
  height: 100vh;
  background-color: #252525;
}

.particels-slidero {
  position: relative;
  z-index: 1;
}

.bg-home-gradient {
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
}

/* flexdemo */
.flex-control-paging li a {
  border-radius: 20px;
  height: 12px;
  width: 12px;
  opacity: 1;
  border: 2px solid #00a9dc !important;
  background: #00a9dc;
}

.flex-control-paging li a:hover {
  background: #00a9dc;
}

.flex-control-paging li a.flex-active {
  background-color: transparent;
}

.flex-control-nav {
  bottom: -70px;
}

.home-title-9 {
  font-size: 48px;
  color: #ffffff;
  max-width: 650px;
}

.home-desc-9 {
  max-width: 650px;
}

.home-registration-form {
  border-radius: 3px;
  width: 600px;
}

.home-registration-form .registration-input-box {
  border: none;
  border-radius: 5px;
  color: #868e96;
  height: 45px;
  border: 1px solid #e6e7e9;
  box-shadow: none !important;
}

.services-icon  {
  font-size: 35px;
  color: #00a9dc;
  margin-right: 15px;
  text-align: center;
  text-align: center;

}

.icon-Pilatex-01 {
    font-size: 50px;

}
.icon-LatinMix-01 {
    font-size: 30px;

}

.services-box h5 {
color: #000000;
}

.services-box h5 span{
color: #00a9dc;
font-weight: 900;
}
.features-content h3 {
  max-width: 500px;
}

.features-subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.features-desc {
  max-width: 500px;
}

.features-icon i {
  width: 40px;
  height: 40px;
  background: #00a9dc;
  display: inline-block;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
}

.features-icon .read-more {
  color: #00a9dc;
  font-weight: 500;
  letter-spacing: 2px;
  border-bottom: px solid #00a9dc;
  padding-bottom: 4px;
  position: relative;
  top: -10px;
  
}

.bg-video {
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 120px 0px 120px 0px;
}

.play-btn-2 {
  height: 80px;
  width: 80px;
  font-size: 30px;
  line-height: 78px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #ffffff;
  margin-top: 30px;
}

.video-box P {
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
}

.bg-client {
  background: url(../images/bg-client.png);
  position: absolute;
  background-position: center center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.client-img img {
  width: 120px;
}

.client-icon i {
  font-size: 180px;
  opacity: 0.1;
  line-height: 0px;
  color: #868e96;
}

.client-position {
  position: relative;
  top: -90px;
}

.client-img-icon {
  padding-left: 70px;
}

.client-img-icon i {
  width: 32px;
  height: 32px;
  background: #00a9dc;
  color: #ffffff;
  font-size: 18px;
  border-radius: 50%;
  line-height: 32px;
  position: absolute;
  top: 30px;
}

.owl-theme .owl-controls {
  margin-top: -40px;
}

.owl-theme .owl-controls .owl-page span {
  background-color: #00a9dc;
  transition: all 0.5s;
}

.bg-client-logo {
  background-image: url(../images/bg-3.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 120px 0px 120px 0px;
}

.client-images img {
  max-height: 90px;
}

.pricing-box {
  box-shadow: 0px 1px 15px 0px rgba(205, 205, 205, 0.479);
  padding: 26px 25px 26px 25px;
}

.pricing-box h3 {
  font-size: 26px;
  color: #00a9dc;
  text-align: center;
}

.dolar {
  position: relative;
  top: -20px;
}

.bg-cta {
  background-image: url(../images/bg-2-.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 120px 0px 120px 0px;
}

.cta-box h3 {
  color: #ffffff;
}

.cta-box P {
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
}

.faq-content {
  overflow: hidden;
}

.faq-icon i {
  font-size: 30px;
}

.faq-desc {
  max-width: 450px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 30px;
}

.blog-content {
  position: relative;
}

.blog-link {
  color: #252525;
  transition: all .3s ease;
}

.blog-link:hover {
  color: #00a9dc;
}

.blog-lable {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0px;
  background-color: #00a9dc;
  display: inline-block;
  color: #ffffff;
  text-align: center;
}

.blog-lable .date {
  line-height: 34px;
}

.blog-lable .month {
  line-height: 10px;
}

.read-more {
  color: #00a9dc;
  transition: all 0.5s;
  font-size: 15px;
  font-weight: 500;
}

.read-more:hover {
  color: #000000;
}

.read-more i {
  font-size: 16px;
  position: relative;
  top: 2px;
  color: #00a9dc;
}

.error {
  margin: 8px 0px;
  display: none;
  color: red;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #f01414;
  border: 2px solid #f01414;
}

.contact-loader {
  display: none;
}

.custom-form .form-control {
  height: 48px;
  z-index: 2;
  border: 1px solid #e6e7e9;
  font-size: 15px;
  color: #868e96;
}

.custom-form .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.custom-form textarea.form-control {
  height: auto !important;
}

.contact-icon i {
  width: 46px;
  height: 46px;
  background: #00a9dc;
  color: #ffffff;
  font-size: 24px;
  border-radius: 50%;
  line-height: 46px;
  text-align: center;
}

.contact-info {
  overflow: hidden;
}

.bg-footer {
  padding: 40px 0px 40px 0px;
  background: #000000;
}

.footer-title {
  color: #00a9dc;
  letter-spacing: 1px;
  font-size: 17px;
}

.footer-link a {
  color: #ffffff;
  line-height: 36px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #00a9dc;
}

.footer-social a {
  text-align: center;
  color: #ffffff;
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #ffffff;
  line-height: 40px;
  font-size: 23px;
  transition: all 0.5s;
  margin-right: 10px;
}

.footer-social a:hover {
  color: #ffffff;
  background: #00a9dc;
  border: 1px solid #00a9dc;
}

.footer-spacing {
  padding-left: 10px;
}

.footer-alt {
  color: #868e96;
}

@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 15px 0px !important;
    box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
    background: #ffffff;
  }
  .navbar-custom .navbar-nav {
    margin-top: 0px;
  }
  .navbar-custom .navbar-nav li.active {
    border-color: transparent;
  }
  .navbar-custom .navbar-nav li a {
    transition: all 0.4s;
    color: #868e96 !important;
    margin: 0px;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-custom .navbar-nav li.active a,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li a:active {
    color: #00a9dc !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #252525;
  }
  .home-title {
    font-size: 38px;
  }
  .logo .logo-light {
    display: none;
  }
  .logo .logo-dark {
    display: inline-block;
  }
  .bg-home {
    height: auto;
    padding: 100px 0px 100px 0px;
  }
  .mouse_down {
    display: none;
  }
  .navbar-button {
    margin-top: 15px;
    margin-left: 0px;
  }
  .footer-spacing {
    padding-left: 0px;
  }
}
