@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x6cla2');
  src:  url('fonts/icomoon.eot?x6cla2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x6cla2') format('truetype'),
    url('fonts/icomoon.woff?x6cla2') format('woff'),
    url('fonts/icomoon.svg?x6cla2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-BodyBombat:before {
  content: "\e901";
  color: #00a9dc;
}
.icon-BodyFlex:before {
  content: "\e902";
  color: #00a9dc;
}
.icon-BodyPump:before {
  content: "\e903";
  color: #08a9dd;
}
.icon-Core:before {
  content: "\e904";
  color: #00a9dc;
}
.icon-hit:before {
  content: "\e905";
  color: #09a9dd;
}
.icon-Latinmix:before {
  content: "\e906";
  color: #00a9dc;
}
.icon-Pilatex:before {
  content: "\e907";
  color: #00a9dc;
}
.icon-SuperBodyCircuit:before {
  content: "\e908";
  color: #08a9dd;
}
.icon-Tabata:before {
  content: "\e909";
  color: #00a9dc;
}
.icon-Zumba:before {
  content: "\e90a";
  color: #00a9dc;
}
